[submodule ".vim/pack/plugins/start/lightline"]
	path = .vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/plugins/start/vim-hardtime"]
	path = .vim/pack/plugins/start/vim-hardtime
	url = https://github.com/takac/vim-hardtime.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/.vim/pack/dev-plugins/start/vim-shellcheck"]
	path = .vim/.vim/pack/dev-plugins/start/vim-shellcheck
	url = https://github.com/itspriddle/vim-shellcheck.git
[submodule ".vim/pack/dev-plugins/start/vim-shellcheck"]
	path = .vim/pack/dev-plugins/start/vim-shellcheck
	url = https://github.com/itspriddle/vim-shellcheck.git
