window {
    opacity:            0.9;
    margin:             0px;
    border:             1px solid #c5c8c6;
    border-radius:      3px;
    background-color:   #1d1f21;
    font-family:        monospace;
}

#input {
    margin:             2px;
    border:             0px;
	color:              #1c1c1c;
	background-color:   #c5c8c6;
}

#inner-box {
	margin:             2px;
    border:             0px;
	background-color:   #1c1c1c;
}

#outer-box {
	margin:             2px;
    border:             0px;
	background-color:   #1c1c1c;
}

#entry {
	padding:            0px;
    margin:             0px;
}

#entry:selected {
	background-color:   #333333;
}

#scroll {
	margin:             0px;
    border:             0px;
}

#text {
	margin:             2px;
    border:             0px;
    color:              #c5c8c6;
}
